h6{
    color:#00ADB5 !important;
}#wrapper {
    display: flex;
    padding: 2vh;
    background: #263238ff;
    min-height: 100vh;
}#wrapper #content-wrapper {
    background-color: #f8f9fc;
    width: 100%;
    overflow-x: hidden;
}#wrapper #content-wrapper #content {
    flex: 1 0 auto;
}.icons{
    height: 2rem;
    width: 2rem;
    transition: all ease-in-out;
    transition-duration:200ms;
    color: whitesmoke;

}.list{
    list-style: none;
    cursor: pointer;
    transition: all ease-in-out;
    transition-duration:200ms;
}.open{
    display: none;
    transition: all ease-in-out;
   transition-duration:200ms;

}.parentList{
    padding-left: 1rem;
    padding: 2rem;
    background: #263238ff;
}.selected{
    background: #00ADB5;
    color: white;
    text-decoration: none;
    opacity: 0.8;
    padding: 0.4rem;
}.selected a{
    scale: 1 !important;
}.rotateIcon{
    transform: rotate(-90deg);
    transition: all ease-in-out;
    transition-duration:300ms;

}.p-md-5{
    padding: 3rem;
}@media (max-width:700px) {
    .grid-div{
      padding-left: 1rem;
      padding-right: 1rem;
    }
    
}@media (max-width:300px) {
    .grid-div{
      padding-left: 1rem;
      padding-right: 1rem;
    }.p-md-5{
        padding: 1rem;
    }span{
        font-size: 0.7rem;
    }.icons{
        height: 1rem;
        width: 1rem;
    }
    
}